/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Copa America Part */
.watch-live{
    background: #2D25A0;
    margin-bottom: 70px;
}
.watch-live > .copa-america{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    padding-top: 50px;
    padding-bottom: 86px;
    margin-left: auto;
    margin-right: auto;
}
.watch-live > .copa-america > .copa-part > h1{
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
}
.watch-live > .copa-america > .copa-part > a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    background-color: #E02C6D;
    padding: 12px 25px;
    transition: 1s;
}
.watch-live > .copa-america > .copa-part > a:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    font-weight: 400;
    background-color: #2D25A0;
    padding: 12px 25px;

}
.watch-live > .copa-america > .copa-img {
    margin-left: 102px;
}
.watch-live > .copa-america > .copa-img > img{
    width: 556.01px;
    height: 438px;
}

/* Player Part */
.player-part{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.player-part > .player-title {
    text-align: center;
    font-size: 29px;
    margin-bottom: 70px;
}
.all-player {
    
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 30px; */
    grid-row-gap: 27px;
}
.all-player > .players{
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.all-player > .players > .player-details{
    width: 300px;
    padding: 15px 0px;
    margin-left: auto;
    margin-right: auto;
}
.all-player > .players > .player-details > img{
    width: 300px;
    height: 256px;
}
.all-player > .players > .player-details > h2 {
    font-size: 28px;
}
.all-player > .players > .player-details > p {
    font-size: 16px;
    margin: 0px;
}

/* Highlights Part */
.highlights-part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    padding-top: 80px;
    padding-bottom: 86px;
    margin-left: auto;
    margin-right: auto;
}
.highlights-part > .highlights-text > h1{
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}
.highlights-part > .highlights-text > p{
    color: #6C6C6C;
    margin-bottom: 24px;
}

.highlights-part > .highlights-text > a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    background-color: #E02C6D;
    padding: 12px 25px;
    transition: 1s;
}
.highlights-part > .highlights-text > a:hover{
    color: #2D25A0;
    border: 2px solid #2D25A0;
    text-decoration: none;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 12px 25px;
    

}

.highlights-part > .highlights-text > a > .button-icon{
    margin-left: 5px;
}
.highlights-part > .highlights-img {
    margin-left: 102px;
}
.highlights-part > .highlights-img > img {
    width: 567px;
    height: 427px;
}

/* Managers Part */
.managers-part{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.managers-part > .managers-title{
    text-align: center;
    font-size: 29px;
    margin-bottom: 70px;
}
.managers-part > .managers-title > h1 {
    margin-top: 0px;
}
.all-managers {
    padding-bottom: 125px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.all-managers > .managers-content{
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.all-managers > .managers-content > .managers-details{
    width: 300px;
    padding: 15px 0px;
    margin-left: auto;
    margin-right: auto;
}
.all-managers > .managers-content > .managers-details > img{
    width: 300px;
    height: 256px;
}
.all-managers > .managers-content > .managers-details > h2 {
    font-size: 28px;
}
.all-managers > .managers-content > .managers-details > p {
    font-size: 16px;
    margin: 0px;
}

/* Footer Part */
.footer-part{
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}
.footer-part > .logo > img {
    width: 483.87px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.footer-part > .icon {
    display: flex;
    justify-content: center;
}
.footer-part > .icon > .icon-bg{
    width: 32px;
    height: 32px;
    background: #0b0d1717;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
}
.footer-part > .icon > .icon-bg > .icon-color{
    color: #969BAB;
    display: block;
}
.footer-part > .copyright {
    display: flex;
    justify-content: center;
    
}
.footer-part > .copyright > p {
    font-size: 18px;
}

/* Media Queries */

/* Mobile Devices */

@media Only screen and (max-width:688px) {

    /* Copa America Part */
    .watch-live > .copa-america {
        flex-direction: column;
    }
    .watch-live > .copa-america{
        width: 100%;
    }
    .watch-live > .copa-america {
        margin-left: 18px;
    }
    .watch-live > .copa-america > .copa-part > h1 {
        font-size: 36px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 25px;
    }
    .watch-live > .copa-america > .copa-img > img {
        width: 329px;
        height: 259.17px;
    }
    .watch-live > .copa-america > .copa-img {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }


    /* Player Part */
    .player-part {
        margin-left: 35px;
        margin-right: auto;
    }
    
    .player-part > .player-title{
        display: inline;
        font-size: 20px;
    }
    .player-part > .player-title > h1{
        display: inline;
    }
    .all-player {
        margin-top: 55px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }

    /* Highlights Part */
    .highlights-part {
        display: flex;
        align-items: center;
        padding-bottom: 86px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 100%;
    }
    .highlights-part > .highlights-text {
        padding: 31px;
    }
    .highlights-part > .highlights-img > img {
        width: 328px;
        height: 248px;
    }
    .highlights-part > .highlights-img {
        margin-left: 0px;
        margin-top: 53px;
    }

    

    /* Managers Part */
    .managers-part {
        margin-left: 35px;
        margin-right: auto;
    }
    
    .managers-part > .managers-title{
        display: inline;
        font-size: 20px;
    }
    .managers-part > .managers-title > h1{
        display: inline;
    }
    .all-managers {
        margin-top: 55px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }


    /* Footer Part */
    .footer-part {
        width: 100%;
    }

    .footer-part > .logo > img {
        width: 200px;
        height: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}


/* Tablet Devices */
@media Only screen and (min-width:688px) and (max-width:992px) {
    /* Copa America Part */
    .watch-live > .copa-america {
        flex-direction: column;
    }
    .watch-live > .copa-america{
        width: 100%;
    }
    .watch-live > .copa-america {
        margin-left: 18px;
    }
    .watch-live > .copa-america > .copa-part > h1 {
        font-size: 66px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 25px;
    }
    .watch-live > .copa-america > .copa-img > img {
        width: auto;
        height: 362.17px;
        margin-top: 60px;
    }
    .watch-live > .copa-america > .copa-img {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }


    /* Player Part */
    .player-part {
        margin-left: 35px;
        margin-right: auto;
    }
    .all-player > .players {
        width: 615px;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    }
    .all-player > .players > .player-details {
        width: 500px;
        padding: 60px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .all-player > .players > .player-details > img {
        width: 500px;
        height: auto;
    }
    .all-player > .players > .player-details > h2 {
        font-size: 42px;
    }
    .all-player > .players > .player-details > p {
        font-size: 24px;
        margin: 0px;
    }
    .player-part > .player-title{
        display: inline;
        font-size: 40px;
    }
    .player-part > .player-title > h1{
        display: inline;
    }
    .all-player {
        margin-top: 55px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }

    /* Highlights Part */
    .highlights-part {
        display: flex;
        align-items: center;
        padding-bottom: 86px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 100%;
    }
    .highlights-part > .highlights-text {
        padding: 31px;
    }
    .highlights-part > .highlights-text > h1 {
        font-size: 66px;
    }
    .highlights-part > .highlights-text > p {
        /* color: #6C6C6C; */
        /* margin-bottom: 24px; */
        font-size: 24px;
    }
    .highlights-part > .highlights-img > img {
        width: 638px;
        height: auto;
    }
    .highlights-part > .highlights-img {
        margin-left: 0px;
        margin-top: 53px;
    }

    

    /* Managers Part */
    .managers-part {
        margin-left: 35px;
        margin-right: auto;
    }
    .all-managers > .managers-content {
        width: 615px;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    }
    .all-managers > .managers-content > .managers-details {
        width: 500px;
        padding: 15px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .all-managers > .managers-content > .managers-details > img {
        width: 500px;
        height: auto;
    }
    .all-managers > .managers-content > .managers-details > h2 {
        font-size: 42px;
    }
    .all-managers > .managers-content > .managers-details > p {
        font-size: 24px;
        margin: 0px;
        padding-bottom: 45px;
    }
    .managers-part > .managers-title{
        display: inline;
        font-size: 40px;
    }
    .managers-part > .managers-title > h1{
        display: inline;
    }
    .all-managers {
        margin-top: 55px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
    }


    /* Footer Part */
    .footer-part {
        width: 100%;
    }

    .footer-part > .logo > img {
        width: 336px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
